<!doctype html>
<html>

<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="{{ppath}}Tl/tl.css" />
</head>

<body {{sys.scale}}>
  <div class="container" id="container" style="background-image: url({{ppath}}Tl/imgs/{{bg}}.jpg)">
    <div class="xhh_box">
      <div class="one_box">
        <div class="tx">
          <img class="qq_tx" src="https://q1.qlogo.cn/g?b=qq&s=640&nk={{qq}}.jpg" />
        </div>
        <div class="zi">
          <p class="name">{{qqname}}</p>
          <div class="zi_">
            <div class="game-tags">
              <p class="game_label">游戏列表</p>
              <div class="game-tags-grid">
                {{if gs_list}}
                <p>原神</p>
                {{/if}} {{if sr_list}}
                <p>崩坏星穹铁道</p>
                {{/if}} {{if zzz_list}}
                <p>绝区零</p>
                {{/if}}
              </div>
            </div>
            <div class="time-line">
              <p class="time_label">获取时间：</p>
              <p class="time_value">{{time}}</p>
            </div>
          </div>
        </div>
      </div>

      {{if gs_list}}
      {{each gs_list}}
      <div class="__box">
        <div class="game">
          <img src="{{ppath}}Tl/imgs/原神.jpg" />
          <p>UID：{{$value.uid}}</p>
          <p>{{$value.level}}级</p>
          <p class="game-nick">昵称：{{$value.name}}</p>

          <div class="sign">
            <img src="{{ppath}}Tl/imgs/签到.png" />
            <span class="{{$value.has_signed  ?  '' :  'red'}}">{{$value.has_signed ? '今日已签' : '尚未签到'}}</span>
          </div>
        </div>
        <div class="_box">
          <div class="left_box">
            <div class="top_box">
              <img class="tl" src="{{ppath}}Tl/imgs/树脂.png" />
              <div class="k">
                <p>原粹树脂</p>
                <div class="k_">
                  <span
                    class="{{$value.current_resin>160 ? 'red' : 'blue'}}">{{$value.current_resin}}</span><span>/{{$value.max_resin}}</span>
                </div>
              </div>
            </div>

            <strong class="huifu">预计恢复时间</strong>
            <strong class="huifu_time">{{$value.time}}</strong>
          </div>
          <div class="right_box">
            <div class="_box_">
              <img src="{{ppath}}Tl/imgs/冒险委托.png" />
              <p>冒险委托</p>
              <div class="right_">
                <span class="{{$value.finished_task_num<$value.total_task_num ? 'red' : 'blue'}}">{{$value.finished_task_num}}/{{$value.total_task_num}}</span>
              </div>
            </div>

            <div class="_box_">
              <img src="{{ppath}}Tl/imgs/冒险委托.png" />
              <p>委托奖励</p>
              <div class="right_">
                <span class="{{$value.is_extra_task_reward_received ? 'blue' : 'red' }}">
                  {{$value.is_extra_task_reward_received ? '已' : '未'}}领取
                </span>
              </div>
            </div>

            <div class="_box_">
              <img src="{{ppath}}Tl/imgs/洞天宝钱.png" />
              <p>洞天宝钱</p>
              <div class="right_">
                <span class="{{$value.current_home_coin>2000 ? 'red' : 'blue'}}">{{$value.current_home_coin}}/{{$value.max_home_coin}}</span>
              </div>
            </div>

            <div class="_box_">
              <img src="{{ppath}}Tl/imgs/探索派遣.png" />
              <p>探索派遣</p>
              <div class="right_">
                {{$value.current_expedition_num}}/{{$value.max_expedition_num}}
              </div>
            </div>

            <div class="_box_">
              <img src="{{ppath}}Tl/imgs/探索派遣.png" />
              <p>派遣完成</p>
              <div class="right_">
                <span class="{{$value.expeditions_ ? 'red' : ''}}">{{$value.expeditions_ ? '已全部完成' : '未完成'}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
      {{/if}}

      {{if sr_list}}
      {{each sr_list}}
      <div class="__box">
        <div class="game">
          <img src="{{ppath}}Tl/imgs/星铁.jpg" />
          <p>UID：{{$value.uid}}</p>
          <p>{{$value.level}}级</p>
          <p class="game-nick">昵称：{{$value.name}}</p>
          <div class="sign">
            <img src="{{ppath}}Tl/imgs/签到.png" />
            <span class="{{$value.has_signed  ?  '' :  'red'}}">{{$value.has_signed ? '今日已签' : '尚未签到'}}</span>
          </div>
        </div>
        <div class="_box">
          <div class="left_box">
            <div class="top_box">
              <img class="tl" src="{{ppath}}Tl/imgs/开拓力.png" />
              <div class="k">
                <p>开拓力</p>
                <div class="k_">
                  <span
                    class="{{$value.current_stamina>$value.max_stamina ? 'red' : 'blue'}}">{{$value.current_stamina}}</span><span>/{{$value.max_stamina}}</span>
                </div>
              </div>
            </div>

            <strong class="huifu">预计恢复时间</strong>
            <strong class="huifu_time">{{$value.time}}</strong>
          </div>
          <div class="right_box">
            <div class="_box_">
              <img src="{{ppath}}Tl/imgs/每日实训.png" />
              <p>每日实训</p>
              <div class="right_">
                <span class="{{$value.current_train_score<$value.max_train_score ? 'red' : 'blue'}}">{{$value.current_train_score}}/{{$value.max_train_score}}</span>
              </div>
            </div>

            <div class="_box_">
              <img src="{{ppath}}Tl/imgs/模拟宇宙.png" />
              <p>模拟宇宙</p>
              <div class="right_">
                <span class="{{$value.current_rogue_score<$value.max_rogue_score ? 'red' : 'blue' }}">{{$value.current_rogue_score}}/{{$value.max_rogue_score}}</span>
              </div>
            </div>

            <div class="_box_">
              <img src="{{ppath}}Tl/imgs/委托执行.png" />
              <p>委托执行</p>
              <div class="right_">
                {{$value.accepted_expedition_num}}/{{$value.total_expedition_num}}
              </div>
            </div>

            <div class="_box_">
              <img src="{{ppath}}Tl/imgs/委托执行.png" />
              <p>委托完成</p>
              <div class="right_">
                <span class="{{$value.expeditions_ ? 'red' : ''}}">
                  {{$value.expeditions_ ? '已全部完成' : '未完成'}}
                </span>
              </div>
            </div>

            <div class="_box_">
              <img src="{{ppath}}Tl/imgs/后备开拓力.png" />
              <p>后备开拓力</p>
              <div class="right_">
                <span>{{$value.current_reserve_stamina}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
      {{/if}}

      {{if zzz_list}}
      {{each zzz_list}}
      <div class="__box">
        <div class="game">
          <img src="{{ppath}}Tl/imgs/绝区零.jpg" />
          <p>UID：{{$value.uid}}</p>
          <p>{{$value.level}}级</p>
          <p class="game-nick">昵称：{{$value.name}}</p>
          <div class="sign">
            <img src="{{ppath}}Tl/imgs/签到.png" />
            <span class="{{$value.has_signed  ?  '' :  'red'}}">{{$value.has_signed ? '今日已签' : '尚未签到'}}</span>
          </div>
        </div>
        <div class="_box">
          <div class="left_box">
            <div class="top_box">
              <img class="tl" src="{{ppath}}Tl/imgs/电池.png" />
              <div class="k">
                <p>电量</p>
                <div class="k_">
                  <span
                    class="{{$value.energy.progress.current>$value.energy.progress.max ? 'red' : 'blue'}}">{{$value.energy.progress.current}}</span><span>/{{$value.energy.progress.max}}</span>
                </div>
              </div>
            </div>

            <strong class="huifu">预计恢复时间</strong>
            <strong class="huifu_time">{{$value.time}}</strong>
          </div>
          <div class="right_box">
            <div class="_box_">
              <img src="{{ppath}}Tl/imgs/活跃度.png" />
              <p>今日活跃度</p>
              <div class="right_">
                <span class="{{$value.vitality.current<$value.vitality.max ? 'red' : 'blue'}}">{{$value.vitality.current}}/{{$value.vitality.max}}</span>
              </div>
            </div>

            <div class="_box_">
              <img src="{{ppath}}Tl/imgs/zzz.png" />
              <p>占卜/刮刮卡</p>
              <div class="right_">
                <span class="{{$value.card_sign=='CardSignDone' ? 'blue' : 'red' }}">
                  {{$value.card_sign=='CardSignDone' ? '今日已签' : '尚未签到'}}
                </span>
              </div>
            </div>

            <div class="_box_">
              <img src="{{ppath}}Tl/imgs/zzz.png" />
              <p>录像店经营</p>
              <div class="right_">
                {{$value.vhs_sale && $value.vhs_sale.sale_state=='SaleStateDoing' ? '正在营业'
                : '待结算'}}
              </div>
            </div>

            <div class="_box_">
              <img src="{{ppath}}Tl/imgs/zzz.png" />
              <p>悬赏委托</p>
              <div class="right_">
                <span class="{{$value.s2_bounty_commission.num<$value.s2_bounty_commission.total ? 'red' : '' }}">{{$value.s2_bounty_commission.num}}/{{$value.s2_bounty_commission.total}}</span>
              </div>
            </div>

            <div class="_box_">
              <img src="{{ppath}}Tl/imgs/zzz.png" />
              <p>丽都周纪积分</p>
              <div class="right_">
                {{if $value.weekly_task}}
                <span class="{{$value.weekly_task.cur_point<800 ? 'red' : 'blue' }}">{{$value.weekly_task.cur_point}}/{{$value.weekly_task.max_point}}</span>
                {{else}}未解锁{{/if}}
              </div>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
      {{/if}}

      <img class="mianju" src="{{ppath}}Tl/imgs/面具.png" />
    </div>
  </div>
</body>

</html>
